<launch>
    <!-- 1.创建乌龟GUI -->
    <node pkg="turtlesim" type="turtlesim_node" name="turtle1" output="screen"/>
    <!-- 2.打开键盘控制节点 -->
    <node pkg="turtlesim" type="turtle_teleop_key" name="key" output="screen"/>
    <!-- 3.创建新的小乌龟 -->
    <node pkg="tf04_test" type="test01_new_turtle" name="turtle2" output="screen"/>
    <!-- 4.发送乌龟相对位置关系 -->
    <node pkg="tf04_test" type="test02_pub_turtle" name="pub1" args="turtle1" output="screen"/>
    <node pkg="tf04_test" type="test02_pub_turtle" name="pub2" args="turtle2" output="screen"/>
    <!-- 5.发送线速度与角速度 -->
    <node pkg="tf04_test" type="test03_control_turtle2" name="control" output="screen"/>
</launch>